{% extends '_base.html' %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class "about">
<div class="card">
    <img src="{% static 'images/me.png' %}" class="card-img-top" style=" height: 204px;" alt="me">
    <div class="card-body">
        <h1 class="card-title">This is Dua'a Melhem</h1>
        <p > born on June,18</p>
        <a href= "https://github.com/doaamelhem96">Github</a>
        <a href= "https://www.linkedin.com/in/duaa-melhem/">Linkedin</a>
    </div>
</div>

</div>


{% endblock content %}